header{
    background-color: yellow;
    display: flex;
    height: 6vh;
    justify-content: end;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    /* padding-top: 15px; */
}

#sign-in{
    background-color: #1a73e8;
    padding: 10px 15px;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    color: white;
    border: 0 solid #1a73e8;
    text-decoration: none;
    text-align:center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
}

#sign-in:hover{
   
    background-color: #0857be;
    
}

header nav a{
    color: black;
    text-decoration: none;
    
}

header nav a:hover{
    text-decoration: underline;
}

#app-icon{
    color: #5f6368;
    font-size: 20px;
    font-weight: bold;
}

#app-icon::after{
    content: "Google apps";
}

header nav:hover{
    cursor: pointer;
}

footer{
    background-color: yellow;
    height: 11vh;
    display: flex;
    flex-direction: column;
}

footer #ft1{
    background-color: lightcoral;
    height: 5.5vh;
    padding: 20px;

}

footer #ft2{
    background-color: rgb(175, 20, 142);
    height: 5.5vh;
    display: flex;
    
    
    
}

footer #ft2 #ft2-left{
    background-color: rgb(43, 84, 218);
    height: 5.5vh;
    width: auto;
    display: flex;
    

}

footer #ft2 #ft2-right{
    background-color: rgb(110, 202, 5);
    height: 5.5vh;
    width: auto;
    display: flex;

}








main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 25px;
    height: 83vh;
    background-color: lightgreen;
    
}

#input-wrapper{
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 60vh;
    height: 46px;
    border-radius: 24px;
    padding: 0px , 20px, 10px, 15px;
    max-width: 582px;
    min-width: 358px;
    margin: 0 25%;
}

#input-wrapper:hover{
    box-shadow: 1px 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#submit-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 35px;
    
}

form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

main form div button{
    border-width: 0;
    border-color: white;
    border-radius: 4px;
    width: 135px;
    background-color: rgb(248, 244, 244);
}

main form div button:hover{
    cursor: pointer;
    border: 1px soild darkgray;
}


    