header{

    display: flex;
    height: 6vh;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    padding-right: 20px;
    font-size: 13px;
    color: black;
    text-decoration: none;
    /* padding-top: 15px; */
}

#sign-in{
    background-color: #1a73e8;
    padding: 10px 15px;
    width: 100px;
    height: 35px;
    border-radius: 4px;
    color: white;
    border: 0 solid #1a73e8;
    text-decoration: none;
    text-align:center;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    line-height: 16px;
}

#sign-in:hover{
   
    background-color: #0857be;
    
}

header nav a{
    color: black;
    text-decoration: none;
    
}

header nav a:hover{
    text-decoration: underline;
}

#app-icon{
    color: #5f6368;
    font-size: 20px;
    font-weight: bold;
}

#google-app-box{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}


#google-app-box:hover{

    background-color: rgba(32,33,36,.1);
   
}

header nav:hover{
    cursor: pointer;
}

footer {
    font-size: 13px;
    color: #6e7074;
    text-decoration: none;



}








main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 25px;
    height: 83vh;
    /* background-color: lightgreen; */
    
}

#input-wrapper{
    border: 1px solid #dfe1e5;
    display: flex;
    align-items: center;
    /* gap: 10px; */
    width: 80vh;
    height: 46px;
    border-radius: 24px;
    padding: 0px , 20px, 10px, 15px;
    max-width: 582px;
    min-width: 358px;
    /* margin: 0 25%; */
    align-content: center;
    /* background-color: green; */
    
}

#input-wrapper:hover{
    box-shadow: 1px 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#search-icon{
    
    margin-left: 10px;
    color: #7e7e80;
    font-weight: bold;
    font-size: 16px;
    
    

}

#mic-icon a img{
    width: 15px;
    display: flex;   
    margin-right: 13px;
}

#lense-icon a img{
    width: 25px;
    display: flex;  
    margin-right: 10px;  
}



input[type=text]{
    height: 45px;
    font-size: 1.0rem;
    padding-left: 20px;
    width: 90vw;
    border: unset;
    outline: none;
    line-height: 22px;
    flex-grow: 1;
    flex-wrap: wrap;
    /* background-color: yellow; */

}


#submit-button{
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 35px;
    
}



form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

main form div button{
    border-width: 0;
    border-color: unset;
    border-radius: 4px;
    width: 135px;
    background-color: rgb(252, 249, 249);
    text-decoration: none;
    font-size: 14px;
    /* line-height: 36px; */
    margin: 0 2px;
    /* padding: 0 16px; */
    min-width: 54px;
    text-align: center;
    user-select: none;

}

main form div button:hover{
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    /* background-color: #f8f9fa; */
    border: 0.8px solid #dadce0;
    /* color: #202124; */


}

.language{
    text-decoration: none;
    font-size: 13px;
    color: #1a73e8;
}

main div p{
    font-size: 14px;
    display: inline;
    
}


    